<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>GenreServlet</servlet-name>
        <servlet-class>ru.ifmo.eshop.servlets.GenreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LabelServlet</servlet-name>
        <servlet-class>ru.ifmo.eshop.servlets.LabelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GenreServlet</servlet-name>
        <url-pattern>/admin/genre</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EshopServlet</servlet-name>
        <servlet-class>ru.ifmo.eshop.servlets.EshopServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EshopServlet</servlet-name>
        <url-pattern>/eshop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LabelServlet</servlet-name>
        <url-pattern>/admin/label</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
